*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: rgb(152, 96, 204);

}

header{
    font-size: 30px;
    margin-left: 55px;
    }

div{
    width: 410px;
    height: 410px;
    margin: 45px;
}

main{
    background-color: white;
    width:  500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
}